body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }



  .target {
    cursor: pointer;
    color: blue;
  }

  .box {
    background: #fff;
    padding: 1rem;
    margin: 1rem 0;
  }
  
  .homepage_title{
    height: 10vh;
    background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CoinChartTitle{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1vh;
    color: white;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  #wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5%;
    /* background: #000524; */
    /* border: 1px solid #000; */
    /* box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71); */
    max-width: 100%;
  }
  
  #chart-bar {
    position: relative;
    margin-top: -38px;
  }
  
  .link {
    position: absolute;
    bottom: 7px;
    right: 13px;
    z-index: 10;
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica, Arial;
  }

  /* Tabs */

  .tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    display: inline-flex
  }
  
  .tab-list-item {
    display: inline;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

  .tabs{
    display: flex;
    flex-direction: column;
  }

  /*###########################################################################################################################*/
  /* Removed outline from focused header elements */
  div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-header:nth-child(2) div.rt-tr > div.rt-th.rt-resizable-header.-cursor-pointer:focus{
    outline: none;
  }

  .ReactTable .rt-thead .rt-th.-sort-asc,
  .ReactTable .rt-thead .rt-td.-sort-asc {
    border-top: 2px  solid green !important;
    border-left: 4px  solid green !important;
    border-right: 4px  solid green !important;
    box-shadow: none !important
  }
  
  .ReactTable .rt-thead .rt-th.-sort-desc,
  .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: none !important;
    border-bottom: 2px  solid red !important;
    border-left: 4px  solid red !important;
    border-right: 4px  solid red !important;
  }

  div.App div:nth-child(1) div.ReactTable.-striped.-highlight div.rt-table > div.rt-thead.-headerGroups:nth-child(1),
  div.App div:nth-child(1) div.ReactTable.-striped.-highlight div.rt-table > div.rt-thead.-header:nth-child(2){
    margin-right: 17px !important;
  }


  

  @media (min-width: 0px) and (max-width: 700px){
  div.App div:nth-child(1) div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-headerGroups:nth-child(1) > div.rt-tr{
    display: grid !important;
    grid-template-columns: 40vw 60vw !important;
    width: auto !important;
  }

  div:nth-child(2) div.App div:nth-child(1) div.ReactTable.-striped.-highlight > div.rt-table{
    overflow-x: hidden;
  }
    .homepage_title{
      font-size: 1.5rem !important;
    }

    .CoinChartTitle{
      font-size: 1.5rem !important;
    }

    .tooltip.is-tooltip-multiline::before{
      min-width: 10vw !important;
    }
    /* Parent Props */
    div.rt-thead, div.rt-tbody {
      display: block !important;
      min-width: 100vw !important;
    }

    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-header:nth-child(2) div.rt-tr div.rt-th.rt-resizable-header.-cursor-pointer> div.rt-resizer{
      display:none;
    }
    /* TOP HEADER */
    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-headerGroups:nth-child(1) div.rt-tr > div.rt-th:nth-child(1){
      display: inline-block !important;
      width: 40vw !important;
    }
    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-headerGroups:nth-child(1) div.rt-tr > div.rt-th:nth-child(2){
      display: inline-block !important;
      width: 60vw !important;
    }
    
    

    /* TABLE HEADER */
    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-header:nth-child(2) div.rt-tr > div.rt-th.rt-resizable-header.-cursor-pointer{
      display: block !important;
      width: 33vw !important;
    }

    div.App div:nth-child(1) div.ReactTable.-striped.-highlight div.rt-table div.rt-thead.-header:nth-child(2) > div.rt-tr,

    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-tbody:nth-child(3) div.rt-tr-group> div.rt-tr

    /* div.rt-thead .-header, div.rt-tbody, div.ReactTable .rt-tr-group */
    {
      display: grid !important;
      grid-template-columns: 33vw 33vw 33vw;
    }

    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-tbody:nth-child(3) div.rt-tr-group > div.rt-tr.-odd > div.rt-td,

    div.App div.ReactTable.-striped.-highlight div.rt-table div.rt-tbody:nth-child(3) div.rt-tr-group> div.rt-tr.-padRow.-even > div.rt-td
    
    {
      display: block !important;
      width: 33vw !important;
    }
    /* div.rt-tbody{
      overflow-x: hidden !important;
    } */
}

